<ion-view view-title="Main">

	<ion-content padding="true">

		<div class="v-center-container">

			<div class="v-center-item">
				<a href="#/register" class="button button-block button-stable">
					Register
				</a>
			</div>
			<div class="v-center-item">
				<a href="#/ask" class="button button-block button-stable">
					Ask
				</a>
			</div>
			<div class="v-center-item">
				<a class="button button-block button-stable">
					Articles
				</a>
			</div>

		</div>

	</ion-content>
</ion-view>
