<ion-view view-title="Register">
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content padding="true">

		<ion-list>
			<label class="item item-input item-select">
				<div class="input-label">
					Blood Type
				</div>
				<select ng-model="donor.type">
					<option selected>Select</option>
					<option value="1">A+</option>
					<option value="2">A-</option>
					<option value="3">B+</option>
					<option value="4">B-</option>
					<option value="5">AB</option>
					<option value="6">O+</option>
					<option value="7">O-</option>
				</select>
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Last time you gave blood</span>
				<ionic-datepicker input-obj="datepickerObject">
					<button class="button button-block button-date-time">
						<span ng-hide="gotDate" style="color: #A8A8A8;">Select</span>
						<span>{{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</span>
					</button>
				</ionic-datepicker>
			</label>


			<a href="" ng-click="register()" class="button button-block button-positive">
				Register
			</a>
		</ion-list>

	</ion-content>
</ion-view>
